# -----------------------
# C++ build artifacts
# -----------------------
*.obj
*.o
*.lo
*.la
*.al
*.libs
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# -----------------------
# Debug / Release files
# -----------------------
*.pdb
*.idb
*.ilk
*.dbg
*.dSYM/
*.su
*.ncb
*.sdf
*.opendb
*.VC.db

# -----------------------
# Static / Dynamic libs
# -----------------------
*.lib
*.a
*.la
*.lo

# -----------------------
# Build folders
# -----------------------
/build/
/bin/
/lib/
/dist/
/Debug/
/Release/
/out/

# -----------------------
# IDE / Editor files
# -----------------------

# VSCode
.vscode/
*.code-workspace

# CLion / JetBrains
.idea/

# Visual Studio
*.sln.docstates
*.user
*.userosscache
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata/
DerivedData/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db
*.json
stochastic_inventory/newsvendor/cmake-build-debug/.ninja_deps
*.bin
*.cmake
*.ddi
*.ninja
*.modmap
*.manifest
*.dd
*.ninja
*.rc
*.res
*.cmake
*.check_cache
*.yaml
*.log
linear_programming/chen_solver/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
linear_programming/chen_solver/cmake-build-release/CMakeFiles/clion-Release-log.txt
